.user-list-table{

}
table {
  border-collapse: collapse;
  width: 100%;
}
th{
  background-color:teal;
  color: white;
}
th, td {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: Lightgreen;
}

